* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 680px;

    margin: 50px auto;
    background-color: #181818;
    padding: 25px;
    border-radius: 10px;
}

.row {
    width: 100%;
    height: 250px;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.product {
    width: 200px;
    height: 230px;
    background-color: white;
    display: inline-block;
    position: relative;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.heart {
    /* width: 50px;
    height: 50px;
    background-color: white; */
    font-size: 30px;
    color: red;
    position: absolute;
    bottom: 0;
    left: 90px;
    display: none;
}

.product:hover .heart {
    display: block;
}

.product:hover {
    border: 4px solid rgb(255, 0, 13);
}

.product{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product1{
    background-image: url("https://s1.thcdn.com/productimg/1600/1600/12128462-8904692461979723.jpg");

}

.product2 {
    background-image: url("https://s1.thcdn.com//productimg/1600/1600/12219162-7904758766591293.jpg");

}

.product3 {
    background-image: url("https://s1.thcdn.com//productimg/1600/1600/12386399-1884768415001168.png");

}

.product4 {
    background-image: url("https://s1.thcdn.com//productimg/1600/1600/12275551-2384758767059263.jpg");

}

.product5 {
    background-image: url("https://s1.thcdn.com//productimg/1600/1600/12219163-1944758779962857.jpg");
}

.product6 {
    background-image: url("https://s1.thcdn.com//productimg/1600/1600/12386403-1734768414600902.png");
}
